<html>
  <script>
    {{if .Room}}

    var ws;
    var addr = "ws://localhost:8080";
    var lastMove = "";
    var player = 0;
    var scores = [];
    scores[1] = 0;
    scores[2] = 0;
    window.onload = function() {
      if (window.WebSocket === undefined) {
        alert("Browser doesn't support websocket");
        return;
      } else {
        console.log(window.WebSocket);
        ws = new WebSocket(addr + "/game/{{.Room}}");

        var gameLog = document.getElementById("game-log");

        ws.onopen = function (event) {
          var msg = JSON.stringify({command:0, data:"connect"});
          ws.send(msg);
        }

        ws.onmessage = function(event) {
          let data = JSON.parse(event.data);
          if(data.Type === "Player") {
            player = data.Value;
            document.getElementsByClassName('game-title')[0].append(" as Player" + data.Value);
          } else if(data.Type === "RoundResult") {
            if(data.Value !== "0") {
              let output = "";
              if(data.Value == player) {
                output += "You won the round! ";
                switch(lastMove) {
                  case "r": output += "Rock beats scissors"; break;
                  case "p": output += "Paper beats rock"; break;
                  case "s": output += "Scissors beats paper"; break;
                }
              } else {
                output += "You lost the round! "
                switch(lastMove) {
                  case "r": output += "Rock loses to paper"; break;
                  case "p": output += "Paper loses to scissors"; break;
                  case "s": output += "Scissors loses to rock"; break;
                }
              }
              scores[data.Value]++;
              document.getElementsByClassName("p" + data.Value + "Score")[0].innerHTML = scores[data.Value];
              gameLog.append(output);
            } else {
              gameLog.append("draw!");
            }
          } else if(data.Type === "FinalResult") {
            gameLog.append("Game won by Player" + data.Value + "!!!");
            document.getElementById("back-btn").style.display = "block";
          } else if(data.Type.includes("Message")) {
            gameLog.append(data.Type + ": " + data.Value);
          }

          gameLog.appendChild(document.createElement("br"));
        }

        ws.onclose = function() {
          gameLog.append("Room closed");
        }
      }
    }

    function sendMove(mv) {
      lastMove = mv;
      var cmd = '{"command": 1,"data":"' + mv + '"}';
      ws.send(cmd);
    }
    
    function sendMsg() {
      var cmd = '{"command": 2,"data":"' + document.getElementsByClassName('message')[0].value + '"}';
      ws.send(cmd);
    }

    {{else}}
    
    function queryMatch() {
      document.getElementsByClassName('query-btn')[0].disabled = true;
      document.getElementsByClassName('searching')[0].style.display = "block";

      fetch("/query", {
        method: "POST", 
      }).then(function(res) {
        res.text().then((code) => {
          window.location.href = "/room/" + code;
        });
      });
    }
  
    {{end}}
  </script>

  <body>
    <div id="container">
      <h1>Rock Paper Scissors Demo</h1>
      {{if .Room}}
      <div class="game-container">
        <h5 class="game-title">Room: {{.Room}} </h5>
        <h6 class="score">Score: Player1[<span class="p1Score">0</span>] | Player2[<span class="p2Score">0</span>]</h6>
        <button onclick="sendMove('r')" class="rock">rock</button>
        <button onclick="sendMove('p')" class="paper">paper</button>
        <button onclick="sendMove('s')" class="scissors">scissors</button>
        <input class="message" type="text">
        <button onclick="sendMsg()">send</button>
        <div id="game-log">
        </div>
        <button id="back-btn" onclick="window.location.href = '/'" hidden>Go back</button>
      </div>
      {{else}}
      <div class="query-container">
        <button onclick="queryMatch()" class="query-btn">Find a match</button>
        <span class="searching" hidden>Searching...</span>
      </div>
      {{end}}
    </div>
  </body>
</html>

